body{
    font-family: fcb-extra-bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    background-color:#070730 ;
    color: aliceblue;
    font-size: 2vw;
}
.header{
    background: linear-gradient(270deg, rgba(32, 32, 193, 0.84) 23.61%, #AB1919 59.72%);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.header .logo ul li{
    float: left;
    margin:  20px;
}
.header .logo ul li a{
    text-decoration: none;
    color: aliceblue;
}
/* Contenido */
.aboutus{
    border-radius: 30px;
    background: linear-gradient(112deg, #0702EC 0.39%, #D40000 99.16%);
    padding: 30px;
    margin: 40px;
}